<style>
    table { border-collapse: collapse; font-family: Calibri, sans-serif; }
    
    td { border: solid thin; height: 3em; width: 3em; text-align: center; padding: 0; }
    </style>

<div style="margin:0 auto; text-align: center;">
<img src= "static/top.png"  alt="Sudoku">
</div>
<h1>Unsolved:</h1>
<div  style="margin:0 auto;">
<table id="grid" border="1" style="border-collapse: collapse; margin:0 auto;">
    {% for i in M -%}
    <tr class="row"></tr>
        {%- for j in i %}
        <td class="cell">{{ j -}}</td>
        {%  endfor -%}
        {% endfor %}
    </table>
</div>

<br style="line-height: 1000%;">

<h1>Solved:</h1>
<div  style="margin:0 auto;">
    <table id="grid" border="1" style="border-collapse: collapse; margin:0 auto;">
        {% for i in N -%}
        <tr class="row"></tr>
            {%- for j in i %}
            <td class="cell">{{ j -}}</td>
            {%  endfor -%}
            {% endfor %}
        </table>
    </div>